
    
/*css goes here*/

.grid {
    border: blue;
    height: 600px;
    width: 400px;

    display: grid;
    /*
    grid-template-columns: 25% 25% 2fr 1fr;
    grid-template-rows: 200px 200px;
    grid-row-gap: 10px;
    grid-column-gap: 15px; 
    */

    grid-template-area: "a b c";        

    grid-template-columns: 1fr 1f 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;

}

.box {
    background-color: blanchedalmond;
    border: red;
    color: black;
    border-radius: 19%;
    border: 7px grey solid;
    justify-content: center;

}

.click {

    height: 1fr;
    width: 1fr;
    display: grid;
    background-color: blanchedalmond;
    border: red;
    color: black;
    border-radius: 19%;
    border: 7px grey solid;
    justify-content: center;
}
.click a{
    cursor: pointer;
    margin-right: 30px;
}
.click a:active{
    position: relative;
    top: 2px;
}
